.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(7, 7, 7, 0.2);
  margin: 1em;
  user-select: none;
}

.activeCard {
  color: red;
  background: pink;
}
 
.cities {
  background-color: rgba(244, 191, 56, 0.967);
  color: white;
  margin: 20px 0 20px 0;
  padding: 20px;
} 
